# Mango Db with Python- Querying Json Documents

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record={
        'firstname':'ruchi',
        'lastname':'turker',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
        }
empinfo.insert_one(record)

In [3]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [4]:
empinfo.insert_many(records)

In [5]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('641daf1d88f32f106c58defe'),
 'firstname': 'tushar',
 'lastname': 'kapoor',
 'department': 'data_science'}

In [8]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('641daf1d88f32f106c58defe'), 'firstname': 'tushar', 'lastname': 'kapoor', 'department': 'data_science'}
{'_id': ObjectId('641dafaf88f32f106c58df02'), 'firstname': 'tushar1', 'lastname': 'kapoor1', 'department': 'data_science1'}
{'_id': ObjectId('641dafc588f32f106c58df07'), 'firstname': 'tushar2', 'lastname': 'kapoor2', 'department': 'data_science2'}
{'_id': ObjectId('641db2a7e92c26a4980257db'), 'firstname': 'ruchi', 'lastname': 'turker', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('641db35de92c26a4980257dc'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('641db35de92c26a4980257dd'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('641db35de92c26a4980257de'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('641db35de92c26a4980257df'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [15]:
## Query the json document based on equality conditions
# select * from employeeinformation where firstname=tushar

for record in empinfo.find({"firstname":"tushar"}):
    print(record)

{'_id': ObjectId('641daf1d88f32f106c58defe'), 'firstname': 'tushar', 'lastname': 'kapoor', 'department': 'data_science'}

In [16]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('641db35de92c26a4980257de'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('641db35de92c26a4980257df'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [22]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('641db35de92c26a4980257df'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [24]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'ruchi'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('641db2a7e92c26a4980257db'), 'firstname': 'ruchi', 'lastname': 'turker', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [25]:
inventory=mydb.inventory

In [26]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [27]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('641db7bde92c26a4980257e0'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}